<!DOCTYPE html>
<html>
	<head>
		<script src="http://btgenomics-covid-test.s3-us-west-2.amazonaws.com/dependencies/icons.js"></script>
	</head>
	<style>
        *[contenteditable="true"] {
            border: 1px dotted #333;
        }
	</style>
	<body>
		<%- body %>
	</body>
</html>